.analyticsSection {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5rem;
  width: 100dvw;
  display: flex;
  flex-flow: column;
  /* justify-content: center; */
  /* align-items: center; */

  & .goBack {
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 2rem;
    & svg {
      width: 1.5rem;
      cursor: pointer;
      transition: color 0.5s ease;
      padding-left: 1rem;
    }
    & h2 {
      font-size: 1.1rem;
    }
  }

  & a {
    text-decoration: none;
    color: #2f143e;
    transition: color 0.2s ease;
    &:hover {
      color: #5f287b;
      /* color: #9facbc; */
    }
  }

  & .graficHead {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: min-content;
    margin: 0rem 0rem 0.5rem 0rem;

    & select {
      margin: 0;
      padding: 0rem 1rem;
      border-radius: 0.2rem;
      font-size: 1rem;
    }

    & h1 {
      font-size: 2rem;
      padding: 0;
      margin: 0;
      text-align: center;
      color: #2f143e;
      font-weight: 700;
    }
  }

  & .graphs {
    display: flex;
    flex-flow: row;
    gap: 1rem;
    margin-left: 1rem;

    & .gra1 {
      display: flex;
      flex-flow: column;
      width: 35%;
      height: calc(100dvh - 14rem);
      box-shadow: inset 0rem 0rem 0.5rem #9facbc;
      border-radius: 0.5rem;
      padding: 1rem 0rem;

      & h2 {
        font-size: 1rem;
        text-align: center;
        margin: 0rem 0rem -2rem 0rem;
        padding: 0;
      }
    }
  }
  & .graphs2 {
    display: flex;
    flex-flow: column;
    width: 62%;
    gap: 1rem;

    & .gra2 {
      display: flex;
      flex-flow: column;
      box-shadow: inset 0rem 0rem 0.5rem #9facbc;
      border-radius: 0.5rem;
      padding: 1rem 0rem;
      height: calc(50dvh - 8.5rem);
      & h2 {
        font-size: 1rem;
        text-align: center;
        margin: 0;
        padding: 0;
      }
    }
  }
}
